.u-section-1 {
    background-image: none;
}

.u-section-1 .u-sheet-1 {
    min-height: 725px;
}

.u-section-1 .u-layout-wrap-1 {
    width: 921px;
    margin: 61px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 604px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-btn-1 {
    background-image: none;
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 328px 199px 0 -135px;
}

.u-section-1 .u-shape-1 {
    width: 187px;
    height: 62px;
    margin: 53px 199px 0 -139px;
}

.u-section-1 .u-image-1 {
    min-height: 604px;
    background-image: url("/img/fsae-min1.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-text-1 {
    font-weight: 700;
    margin: -540px 713px 0 11px;
}

.u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin: 30px 713px 60px 25px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-layout-wrap-1 {
        width: 872px;
    }
    .u-section-1 .u-btn-1 {
        margin-top: 276px;
        margin-right: 64px;
        margin-left: 0;
    }
    .u-section-1 .u-shape-1 {
        margin-top: -123px;
        margin-left: -51px;
    }
    .u-section-1 .u-text-1 {
        margin-top: 60px;
        margin-left: 0;
        margin-right: 0;
    }
    .u-section-1 .u-text-2 {
        margin: 18px 121px 0 -121px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 593px;
    }
    .u-section-1 .u-layout-wrap-1 {
        width: 698px;
    }
    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }
    .u-section-1 .u-btn-1 {
        margin-right: 0;
    }
    .u-section-1 .u-shape-1 {
        margin-right: 0;
    }
    .u-section-1 .u-image-1 {
        min-height: 578px;
    }
    .u-section-1 .u-text-2 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1714px;
    }
    .u-section-1 .u-layout-wrap-1 {
        width: 493px;
        margin-top: 30px;
    }
    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-image-1 {
        min-height: 531px;
    }
    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1124px;
    }
    .u-section-1 .u-layout-wrap-1 {
        width: 319px;
    }
    .u-section-1 .u-image-1 {
        min-height: 487px;
    }
    .u-section-1 .u-container-layout-2 {
        padding-bottom: 5px;
    }
}

.u-section-2 .u-sheet-1 {
    min-height: 672px;
}

.u-section-2 .u-shape-1 {
    height: 452px;
    margin-top: 3px;
    margin-bottom: 0;
}

.u-section-2 .u-text-1 {
    font-weight: 700;
    font-family: "Archivo Black";
    font-size: 3rem;
    margin: -425px 95px 0;
}

.u-section-2 .u-gallery-1 {
    height: 364px;
    grid-gap: 17px 17px;
    margin-top: 114px;
    margin-bottom: 60px;
}

.u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
    grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    padding: 20px;
}

.u-section-2 .u-over-slide-2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    padding: 20px;
}

.u-section-2 .u-over-slide-3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    padding: 20px;
}

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 608px;
    }
    .u-section-2 .u-shape-1 {
        margin-top: 5px;
    }
    .u-section-2 .u-text-1 {
        margin-top: -427px;
        margin-left: 0;
        margin-right: 0;
    }
    .u-section-2 .u-gallery-1 {
        height: 300px;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
        min-height: 997px;
    }
    .u-section-2 .u-gallery-1 {
        height: 689px;
    }
    .u-section-2 .u-gallery-inner-1 {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
        min-height: 1858px;
    }
    .u-section-2 .u-shape-1 {
        height: 283px;
    }
    .u-section-2 .u-text-1 {
        font-size: 2.25rem;
        margin-top: -213px;
    }
    .u-section-2 .u-gallery-1 {
        height: 1550px;
    }
    .u-section-2 .u-gallery-inner-1 {
        grid-template-columns: repeat(1, auto);
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 1284px;
    }
    .u-section-2 .u-text-1 {
        font-size: 1.875rem;
        margin-top: -252px;
    }
    .u-section-2 .u-gallery-1 {
        height: 976px;
    }
}

.u-section-3 {
    background-image: none;
}

.u-section-3 .u-sheet-1 {
    min-height: 872px;
}

.u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
    min-height: 764px;
    background-image: none;
}

.u-section-3 .u-container-layout-1 {
    padding: 30px 60px;
}

.u-section-3 .u-shape-1 {
    width: 232px;
    height: 69px;
    margin: 73px auto 0 81px;
}

.u-section-3 .u-text-1 {
    line-height: 1.2;
    font-family: Raleway, sans-serif;
    font-size: 3.75rem;
    margin: 94px 0 0;
}

.u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin: 26px 0 0;
}

.u-section-3 .u-layout-cell-2 {
    min-height: 764px;
}

.u-section-3 .u-container-layout-2 {
    padding: 30px 0;
}

.u-section-3 .u-image-1 {
    width: 542px;
    height: 542px;
    background-image: url("images/sales-consultant.jpg");
    background-position: 84.96% 50%;
    margin: 37px auto 0 0;
}

.u-section-3 .u-shape-2 {
    width: 218px;
    height: 68px;
    margin: 94px -20px -59px auto;
}

@media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
        min-height: 738px;
    }
    .u-section-3 .u-layout-cell-1 {
        min-height: 630px;
    }
    .u-section-3 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .u-section-3 .u-layout-cell-2 {
        min-height: 630px;
    }
    .u-section-3 .u-image-1 {
        width: 459px;
        height: 459px;
        background-position: 50% 50%;
        margin-top: 70px;
    }
    .u-section-3 .u-shape-2 {
        margin-top: -68px;
        margin-bottom: 0;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
        min-height: 591px;
    }
    .u-section-3 .u-layout-cell-1 {
        min-height: 100px;
    }
    .u-section-3 .u-shape-1 {
        margin-left: 57px;
    }
    .u-section-3 .u-text-1 {
        font-size: 3rem;
    }
    .u-section-3 .u-layout-cell-2 {
        min-height: 483px;
    }
    .u-section-3 .u-image-1 {
        width: 349px;
        height: 349px;
    }
    .u-section-3 .u-shape-2 {
        width: 165px;
        height: 51px;
        margin-bottom: 17px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
        min-height: 1254px;
    }
    .u-section-3 .u-layout-wrap-1 {
        margin-bottom: 4px;
    }
    .u-section-3 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-3 .u-text-2 {
        width: auto;
        margin-right: 92px;
    }
    .u-section-3 .u-layout-cell-2 {
        min-height: 725px;
    }
    .u-section-3 .u-image-1 {
        width: 505px;
        height: 505px;
        margin-left: 16px;
    }
    .u-section-3 .u-shape-2 {
        width: 235px;
        height: 73px;
        margin-top: -114px;
        margin-bottom: 41px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
        min-height: 1130px;
    }
    .u-section-3 .u-layout-wrap-1 {
        margin-bottom: 60px;
    }
    .u-section-3 .u-text-1 {
        font-size: 2.25rem;
    }
    .u-section-3 .u-text-2 {
        margin-right: 0;
    }
    .u-section-3 .u-layout-cell-2 {
        min-height: 456px;
    }
    .u-section-3 .u-image-1 {
        width: 340px;
        height: 340px;
        margin-right: 0;
        margin-left: 0;
    }
    .u-section-3 .u-shape-2 {
        width: 152px;
        height: 47px;
        margin-top: -62px;
        margin-bottom: 0;
    }
}

.u-section-4 {
    background-image: none;
}

.u-section-4 .u-sheet-1 {
    min-height: 1020px;
}

.u-section-4 .u-group-1 {
    width: 710px;
    min-height: 601px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin: 80px -60px 0 auto;
}

.u-section-4 .u-container-layout-1 {
    padding: 30px 40px 30px 195px;
}

.u-section-4 .u-text-1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}

.u-section-4 .u-form-1 {
    width: 447px;
    margin: 20px auto 0;
}

.u-section-4 .u-form-group-1 {
    width: 100%;
}

.u-section-4 .u-form-group-2 {
    width: 100%;
}

.u-section-4 .u-form-group-3 {
    width: 100%;
}

.u-section-4 .u-form-group-4 {
    width: 100%;
}

.u-section-4 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
}

.u-section-4 .u-image-1 {
    width: 587px;
    height: 625px;
    margin: -543px auto 0 -17px;
}

.u-section-4 .u-list-1 {
    width: 976px;
    min-height: 162px;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
    margin: 69px auto 26px;
}

.u-section-4 .u-list-item-1 {
    background-image: none;
}

.u-section-4 .u-container-layout-2 {
    padding: 45px 30px 15px;
}

.u-section-4 .u-icon-1 {
    height: 22px;
    width: 22px;
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
    font-weight: 700;
    text-transform: uppercase;
    margin: -22px 0 0 40px;
}

.u-section-4 .u-text-3 {
    margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
    background-image: none;
}

.u-section-4 .u-container-layout-3 {
    padding: 45px 30px 15px;
}

.u-section-4 .u-icon-2 {
    height: 22px;
    width: 22px;
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
    font-weight: 700;
    text-transform: uppercase;
    margin: -22px 0 0 40px;
}

.u-section-4 .u-text-5 {
    margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
    background-image: none;
}

.u-section-4 .u-container-layout-4 {
    padding: 45px 30px 15px;
}

.u-section-4 .u-icon-3 {
    height: 22px;
    width: 22px;
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
    font-weight: 700;
    text-transform: uppercase;
    margin: -22px 0 0 40px;
}

.u-section-4 .u-text-7 {
    margin: 20px 0 0;
}

@media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
        min-height: 992px;
    }
    .u-section-4 .u-container-layout-1 {
        padding-left: 235px;
    }
    .u-section-4 .u-image-1 {
        width: 443px;
        height: 607px;
        margin-top: -469px;
        margin-bottom: 60px;
    }
    .u-section-4 .u-list-1 {
        width: 940px;
        min-height: 134px;
        grid-template-columns: repeat(3, 33.333333333333336%);
        height: auto;
    }
    .u-section-4 .u-text-2 {
        margin-left: 4px;
    }
    .u-section-4 .u-text-4 {
        margin-left: 4px;
    }
    .u-section-4 .u-text-6 {
        margin-left: 4px;
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
        min-height: 1166px;
    }
    .u-section-4 .u-group-1 {
        width: 509px;
        min-height: 620px;
        margin-top: 89px;
    }
    .u-section-4 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 35px;
    }
    .u-section-4 .u-image-1 {
        width: 431px;
        height: 511px;
        margin-top: -49px;
    }
    .u-section-4 .u-list-1 {
        width: 720px;
        min-height: 308px;
        grid-template-columns: repeat(2, 50%);
    }
    .u-section-4 .u-container-layout-2 {
        padding-top: 30px;
    }
    .u-section-4 .u-text-2 {
        margin-left: 0;
    }
    .u-section-4 .u-container-layout-3 {
        padding-top: 30px;
    }
    .u-section-4 .u-text-4 {
        margin-left: 0;
    }
    .u-section-4 .u-container-layout-4 {
        padding-top: 30px;
    }
    .u-section-4 .u-text-6 {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
        min-height: 1116px;
    }
    .u-section-4 .u-group-1 {
        width: 473px;
        min-height: 616px;
        margin-top: 88px;
        margin-right: 0;
    }
    .u-section-4 .u-container-layout-1 {
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .u-section-4 .u-form-1 {
        width: 433px;
        margin-left: 0;
        margin-right: 0;
    }
    .u-section-4 .u-image-1 {
        width: 420px;
        height: 497px;
        margin-top: -31px;
        margin-left: 0;
    }
    .u-section-4 .u-list-1 {
        width: 540px;
        grid-template-columns: 100%;
    }
    .u-section-4 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-4 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-4 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
        min-height: 903px;
    }
    .u-section-4 .u-group-1 {
        min-height: 585px;
        margin-top: 55px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }
    .u-section-4 .u-text-1 {
        font-size: 2.25rem;
    }
    .u-section-4 .u-form-1 {
        width: 320px;
    }
    .u-section-4 .u-image-1 {
        height: 403px;
        margin-top: 39px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }
    .u-section-4 .u-list-1 {
        width: 340px;
    }
}